{% block server_redirect %}
{% if item.server_name_redirect is defined %}
server {
{% if item.listens|count > 0 -%}
{% for listen in item.listens %}
    listen       {{ listen }};
{% endfor %}
{% else %}
    listen 80;
{%- endif %}
    server_name  {{ item.server_name_redirect }};

{% if item.ssl_parameters is defined %}
    {{ item.ssl_parameters|indent(4) }}
{% endif %}

{% if item.letsencrypt_root is defined %}
    location /.well-known/ {
        root {{ item.letsencrypt_root }};
    }
{% endif %}

    return       301 $scheme://{{ item.server_name.split(' ')[0] }}$request_uri;
}
{% endif %}
{% endblock %}

server {
    {% block server_begin %}{% endblock %}

    {% block server_basic -%}

{% if item.listens|count > 0 -%}
{% for listen in item.listens %}
    listen       {{ listen }};
{% endfor %}
{% else %}
    listen 80;
{%- endif %}

{% if item.server_name is defined %}
    server_name {{ item.server_name }};
{% endif %}
{% if item.ssl_parameters is defined %}
    {{ item.ssl_parameters|indent(4) }}
{% endif %}

{% if item.root is defined %}
    root {{ item.root }};
{% endif %}

    index {{ item.index | default('index.html index.htm') }};

{% if item.letsencrypt_root is defined %}
    location /.well-known/ {
        root {{ item.letsencrypt_root }};
    }
{% endif %}

{% if item.error_page is defined %}
    error_page {{ item.error_page }};
{% endif %}
{% if item.access_log is defined %}
    access_log {{ item.access_log }};
{% endif %}
{% if item.error_log is defined %}
    error_log {{ item.error_log }} error;
{% endif %}

{% if item.return is defined %}
    return {{ item.return }};
{% endif %}
    {% endblock %}

    {% block server_end %}{% endblock %}

{% if item.extra_parameters is defined %}
    {{ item.extra_parameters|indent(4) }}
{% endif %}
}
